<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width, initial-scale=1.0">
    <title>{% if name %}{{name}},{% else %} Анонимус {% endif %},. Лабораторная работа {{n_lab}}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css')}}">
</head>
    <header>
        WEB-программтрование, часть 2. {% if n_lab %}Лабораторная 2{% endif %}
    </header>

    <main>
        5 + 2 = {{5 + 2}}<br>
        11 * 28 = {{11*28}}<br>
        3258-759 = {{325-759}}<br>
        8452/793 = {{8452/793}}<br>
        45<sup>8</sup> = {{45**8}}<br>
        <ul>
            {% for f in fruits %}
            <li>{{ loop.index }} - {{ f.name }}: {{ f.price }} &#x20bd</li>
            {% endfor %}
        </ul>
    </main>

    <footer>

        &copy; 
        {% if name %}
            {{name}},
        {% else %}
            Анонимус,
        {% endif %}
        {% if n_group %}
        ФБИ-{{n_group}},
        {% else %}
        Группа неизвестна,
        {% endif %}
        {% if n_kurs %}
        {{n_kurs}} курс, 2024,
        {% else %}
        курс неизвестен,
        {% endif %}
    <footer>
</body>
</html>

