/* Список пользователей */
#user-list {
    width: 25%;
    background: #f4f4f4;
    border-right: 1px solid #ddd;
    overflow-y: auto;
    height: 100vh;
    float: left;
}

.user-item {
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid #ddd;
}

.user-item:hover {
    background: #e9e9e9;
}

.user-icon {
    background: #007bff;
    color: white;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}

/* Сообщения */
#message-list {
    width: 75%;
    background: #e0f7e9;
    overflow-y: auto;
    height: calc(100vh - 50px);
    float: right;
    padding: 20px;
}

/* Сообщения */
.message {
    margin: 10px 0;
    padding: 15px;
    border-radius: 15px;
    max-width: 70%;
    position: relative;
    word-wrap: break-word;
    font-size: 14px;
    font-weight: bold;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.message-sender {
    background-color: #cce5ff;
    margin-right: auto;
    color: #004085;
}

.message-receiver {
    background-color: #d4edda;
    margin-left: auto;
    color: #155724;
}