<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width, initial-scale=1.0">
    <title> Крутиков Руслан. {% block lab %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css')}}">
    <link rel="shortcut icon" href="static/favicon.ico" type="image/x-icon">
    <link rel="icon" href="static/favicon-32x32.png">
    <link rel="icon" href="static/favicon-16x16.png">
</head>
    <header>
        WEB-программтрование, часть 2. {{self.lab()}}
    </header>
    <main>
        {% block main %}{% endblock %}
    </main>
    <footer>
        &copy; Крутиков Руслан, ФБИ-21, 3 курс, 2024
    <footer>
</body>
</html>
