{% extends "base.html" %}

{# номер лабораторной #}
{% block lab %}Лабораторная работа 2{% endblock %}

{# основной контент #}
{% block main %}
    <h1>Шаблоны</h1>
    <div class="menu">
        <ul>
            <div class="line_a"><a href="/lab2/example">example</a></div>
            <div class="line_a"><a href="/lab2/flowers">flowers</a></div>
            <div class="line_a"><a href="/lab2/filters">filters</a></div>
            <div class="line_a"><a href="/lab2/calc">Калькулятор</a></div>
            <div class="line_a"><a href="/lab2/books">Книги</a></div>
            <div class="line_a"><a href="/lab2/berries">berries</a></div>
        </ul>
    </div>
{% endblock %}