{% extends "chat_base.html" %}

{% block lab %}Список пользователей{% endblock %}

{% block user_list %}
<script>
function loadUsers() {
    const url = '/json-rpc-api/';
    const token = sessionStorage.getItem('token');

    if (!token) {
        alert('Вы не авторизованы.');
        return;
    }

    const json = {
        'jsonrpc': '2.0',
        'method': 'get_users',
        'params': { 'token': token },
        'id': Math.round(Math.random() * 1000)
    };

    fetch(url, {
        method: 'POST',
        headers: { 'Content-Type': 'application/json' },
        body: JSON.stringify(json)
    })
    .then(response => response.json())
    .then(data => {
        if (data.error) {
            alert(`Ошибка загрузки пользователей: ${data.error.message}`);
        } else {
            const usersList = data.result.users;
            const userListContainer = document.getElementById('user-list');
            userListContainer.innerHTML = ''; // Очистка списка

            usersList.forEach(user => {
                const li = document.createElement('li');
                li.innerHTML = `<div class="user-icon">${user.username[0]}</div>${user.username}`;
                li.onclick = () => {
                    sessionStorage.setItem('chatWith', user.id);
                    window.location.href = '/chat/';
                };
                userListContainer.appendChild(li);
            });
        }
    });
}

document.addEventListener('DOMContentLoaded', loadUsers);
</script>
{% endblock %}