{% extends "base.html" %}

{% block lab %} Мессенджер {% endblock %}

{% block script %}
<script>
    function registerUser() {
        const url = '/json-rpc-api/';
        const username = document.getElementById('reg-username').value;
        const password = document.getElementById('reg-password').value;
    
        const json = {
            'jsonrpc': '2.0',
            'method': 'register_user',
            'params': { 'username': username, 'password': password },
            'id': Math.round(Math.random() * 1000)
        };
    
        fetch(url, {
            method: 'POST',
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify(json)
        })
        .then(response => response.json())
        .then(data => {
            if (data.error) {
                alert(`Ошибка регистрации: ${data.error.message}`);
            } else {
                window.location.href = '/confirmation/';
            }
        });
    }
function loginUser() {
    const url = '/json-rpc-api/';
    const username = document.getElementById('login-username').value;
    const password = document.getElementById('login-password').value;

    const json = {
        'jsonrpc': '2.0',
        'method': 'login_user',
        'params': { 'username': username, 'password': password },
        'id': Math.round(Math.random() * 1000)
    };

    fetch(url, {
        method: 'POST',
        headers: { 'Content-Type': 'application/json' },
        body: JSON.stringify(json)
    })
    .then(response => response.json())
    .then(data => {
        if (data.error) {
            alert(`Ошибка авторизации: ${data.error.message}`);
        } else {
            sessionStorage.setItem('token', data.result.token);
            window.location.href = '/users/';
        }
    });
}
</script>
{% endblock %}

{% block main %}
<h1>Добро пожаловать в Мессенджер!</h1>

<div>
    <h2>Авторизация</h2>
    <label for="login-username">Имя пользователя:</label>
    <input type="text" id="login-username" />
    <label for="login-password">Пароль:</label>
    <input type="password" id="login-password" />
    <button onclick="loginUser()">Войти</button>
</div>

<div>
    <h2>Регистрация</h2>
    <label for="reg-username">Имя пользователя:</label>
    <input type="text" id="reg-username" />
    <label for="reg-password">Пароль:</label>
    <input type="password" id="reg-password" />
    <button onclick="registerUser()">Зарегистрироваться</button>
</div>
{% endblock %}